In [1]:
# To support both python 2 and python 3
# 让这份笔记同步支持 python 2 和 python 3
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

**7. In the chapter, we mentioned the use of correlation-based distance
and Euclidean distance as dissimilarity measures for hierarchical clus-
tering. It turns out that these two measures are almost equivalent: if
each observation has been centered to have mean zero and standard
deviation one, and if we let r ij denote the correlation between the ith
and jth observations, then the quantity 1−r ij is proportional to the
squared Euclidean distance between the ith and jth observations.
On the USArrests data, show that this proportionality holds.
Hint: The Euclidean distance can be calculated using the dist() func-
tion, and correlations can be calculated using the cor() function.**

In [2]:
USArrests = pd.read_csv('Data/USArrests.csv', na_values='?').dropna()

In [3]:
USArrests.head()

        State  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [4]:
from sklearn.preprocessing import scale
XSC = scale(USArrests[['Murder','Assault','UrbanPop','Rape']],axis = 1)

In [5]:
np.corrcoef(XSC).shape

(50, 50)

In [6]:
1 - np.corrcoef(XSC)

array([[2.22044605e-16, 9.07497591e-03, 1.43015785e-03, ...,
        3.24025144e-02, 4.12467339e-01, 1.08846078e-02],
       [9.07497591e-03, 2.22044605e-16, 1.03037911e-02, ...,
        6.51002772e-02, 4.89412149e-01, 3.25054620e-02],
       [1.43015785e-03, 1.03037911e-02, 2.22044605e-16, ...,
        2.44610104e-02, 3.81503117e-01, 6.38416194e-03],
       ...,
       [3.24025144e-02, 6.51002772e-02, 2.44610104e-02, ...,
        2.22044605e-16, 2.27592798e-01, 5.92638933e-03],
       [4.12467339e-01, 4.89412149e-01, 3.81503117e-01, ...,
        2.27592798e-01, 0.00000000e+00, 2.99832502e-01],
       [1.08846078e-02, 3.25054620e-02, 6.38416194e-03, ...,
        5.92638933e-03, 2.99832502e-01, 2.22044605e-16]])

In [7]:
d2 = np.empty([50,50])

In [8]:
for i in range(50):
    for j in range(50):
        d2[i,j] = np.linalg.norm(XSC[i] - XSC[j])

In [9]:
(d2 ** 2)/(1 - np.corrcoef(XSC))

c:\users\wujiaxu\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([[ 0.,  8.,  8., ...,  8.,  8.,  8.],
       [ 8.,  0.,  8., ...,  8.,  8.,  8.],
       [ 8.,  8.,  0., ...,  8.,  8.,  8.],
       ...,
       [ 8.,  8.,  8., ...,  0.,  8.,  8.],
       [ 8.,  8.,  8., ...,  8., nan,  8.],
       [ 8.,  8.,  8., ...,  8.,  8.,  0.]])